/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Styles */
body {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.5px;
	background-color: #f8f8f8;
}

#holder {
	max-width: 500px;
	height: 400px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	position: absolute;
}

.txt {
	margin-right: 3px;
	float: left;
	display: inline;

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

/*#holder span {
	font-weight: bold;
}*/
a {
	color: 000;
	font-weight: bold;
	text-decoration: none;
}
a:visited { color: #000; }
a:hover { color: #666; }